name: CI

on:
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: go mod tidy
      - name: Run Unit Tests
        run: go clean -testcache && go test -v ./... 

  integration-test:
    name: Run Integration Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpassword
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: go mod tidy
      - name: Run Integration Tests
        run: go clean -testcache && INTEGRATION=1 go test -v ./...
        env:
          READ_WRITER_LOCATION: postgres://testuser:testpassword@localhost:5432/testdb?sslmode=disable
          HTTP_ADDRESS: :4000